.invoice {
    & .invoice-header {
        & .invoice-details {
            width: 100%;

            ul {
                width: 84%;

                float: left;

                li {
                    padding-bottom: 5px;
                }
            }

            .logo {
                width: 16%;

                float: right;
            }
        }
    }

    & .invoice-company-address {
        width: 100%;

        & .billed-to {
            float: left;
        }

        & .company-details {
            float: right;
        }
    }
}
