body {
    border: 2px solid #000;
}

// resets

ul {
    padding: 0;

    margin: 0;

    li {
        list-style: none;
    }
}

.invoice {
    & .invoice-header {
        display: -webkit-box;

        flex-direction: row;

        justify-content: space-between;

        h2 {
            text-align: center;
        }

        & .invoice-details {
            width: 100%;

            ul {
                width: 84%;

                li {
                    padding-bottom: 5px;
                }
            }

            .logo {
                width: 16%;
            }
        }
    }

    & .invoice-company-address {
        width: 100%;

        & .billed-to {
            width: 60%;
        }

        & .company-details {
            width: 40%;
        }
    }

    & .items {
        margin-top: 15px;

        table {
            width: 100%;

            border-spacing: 0;

            thead {
                text-align: center;

                background-color: rgba(210, 214, 220, 1);

                tr {
                    th {
                        background-color: #f8f9fa;

                        border: 1px solid #eceeef;

                        padding: 0.75rem;
                    }
                }
            }

            tbody {
                text-align: center;

                border: 1px solid #eceeef;

                tr {
                    td {
                        border: 1px solid #eceeef;

                        padding: 0.75rem;

                        text-align: center;
                    }
                }
            }
        }

        .invoice-total {
            text-align: right;

            h4 {
                font-weight: bold;
            }
        }
    }
}
